{% extends "base.html" %}
{% block content %}

<!--Department page-->
<div class="jumbotron">
	<h1>{{title}}</h1>

	<!--Page navigation-->
	<nav aria-label="Page navigation example" style="float: right;">
		<ul class="pagination justify-content-center">
			{% for page_num in department_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if department_posts.page == page_num %}
			<li class="page-item disabled">
				<a class="page-link" href="{{ url_for('core.department', department=title, page=page_num) }}">{{ page_num }}</a></li>
			</li>
			{% else %}
			<li class="page-item"><a class="page-link" href="{{ url_for('core.department', department=title, page=page_num) }}">{{ page_num }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</nav>
</div>

<div class="container">
	
	<!--If there are no posts for this department-->
	{% if department_posts.items|length == 0 %}
	<h3>... No posts in {{title}} Channel ...</h3>

	{% else %}
	{% for item in department_posts.items %}
	<div class="card" >

		<div class="card-body row">
			<div class="col-md-5">
				<h3><a class="card-title" href="  {{ url_for('posts.view_post', post_id=item.id) }}">{{ item.title }}</a></h3>
				<h5>Author: <a href="{{ url_for('users.user_posts', username=item.author.username) }}">{{ item.author.username }} ({{item.author.position}})</a></h5>
				<h5>Department: {{item.department}}</h5>

				<p class="text-muted">
				    {{ item.date.strftime(' %B %d, %Y') }}<br>
				    {{ item.date.strftime('%A %-I:%M %p') }}
				</p>

				<a href="{{ url_for('posts.view_post', post_id=item.id) }}" class="btn btn-primary btn-sm">Read More</a>
			</div>

			<div class="col-md-7">
				<!--Don't show the entire text if it is too long-->
				{% if item.text|length < 100 %}
				<h4 class="card-text">"{{ item.text }}"</h4>
				{% else %}
				<h4 class="card-text">"{{ item.text[:100] }}..."</h4>
				{% endif %}

				<hr>

				{% set count = [0] %}
				{% for reply in replies %}
					{% if count[0] < 2 and reply.parent_post.id == item.id %}
						<p>
							<a href="{{ url_for('users.user_posts', username=reply.replier.username) }}"><b>{{reply.replier.username}} ({{reply.replier.position}})</b></a> -
							{{ reply.date.strftime('%b %d, %Y (%a) %-I:%M %p') }}

							<br>
							<b>{{reply.text}}</b>
						</p>
						<!--increment count by 1, allow only 2 replies to display-->
						{% if count.append(count.pop() + 1) %}{% endif %} 
					{% endif %}
				{% endfor %}

				<div align="right">
					<a href="{{ url_for('posts.view_post', post_id=item.id) }}">... More replies</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>

<br>

<!--Page navigation-->
<nav aria-label="Page navigation example"">
	<ul class="pagination justify-content-center">
		{% for page_num in department_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if department_posts.page == page_num %}
		<li class="page-item disabled">
			<a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
		</li>
		{% else %}
		<li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>


{% endblock %}
